/* @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Borel&family=Cormorant+Garamond:wght@400;600&family=Poppins:ital,wght@0,200;0,400;1,100&family=Raleway:ital,wght@0,200;1,600&display=swap'); */

/* 
font-family: 'Baloo Bhai 2', cursive;
font-family: 'Borel', cursive;
font-family: 'Cormorant Garamond', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
*/



/* 

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Borel&family=Cormorant+Garamond:wght@400;600&family=Poppins:ital,wght@0,200;0,400;1,100&family=Raleway:ital,wght@0,200;1,600&display=swap" rel="stylesheet">


*/
* {
    margin: 0%;
    padding: 0%;
    font-family: 'Cormorant Garamond', serif;

}

.letter_spacing {
    letter-spacing: 5px;
}

.text_decoration_a {
    text-decoration: none;
}

.bold_font {
    font-weight: 900 !important;
}

.bg_purple {
    background-color: #470147;
    /* Purple color */
}

.bg_yellow {
    background-color: #b49703;
    /* Yellow color */
}

.bg_pink {
    background-color: #8c034c;
    /* Pink color */
}

.bg_blue {
    background-color: rgb(5, 5, 98);
    /* Linear gradient color */
}

.text_counter {
    color: white;
    font-size: 30px;
}

.icon_color::before {
    background-image: linear-gradient(to bottom, #2532c8, #e53168);
    /* Define your gradient colors here */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon_color_red {
    color: #EE3E6C;
}

.div_hover:hover {
    background: linear-gradient(to right, #e53168, #2532c8);
    color: white !important;
}

.div_hover:hover .icon_color::before {
    -webkit-text-fill-color: white !important;
}

.div_hover:hover .icon_color_red {
    color: white !important;
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-200px);
        transform: translateX(-200px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.slide-right {
    animation: slide-right 2.5s cubic-bezier(.25, .46, .45, .94) both;
}

@keyframes slide-left {
    0% {
        -webkit-transform: translateX(200px);
        transform: translateX(200px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.slide-left {
    animation: slide-left 2.5s cubic-bezier(.25, .46, .45, .94) both;
}


.nav-link,
.btn_navs {
    color: white !important;
    font-size: 20px;
}

.nav-link:hover {
    color: #EE3163 !important;
}

.btn_navs:hover {
    background-image: linear-gradient(to bottom, #EE3163, #EE3163);
    /* Define your gradient colors here */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent
}

.div_courses {
    background-color: #F2F3F8 !important;
    border: none;
    margin-bottom: 30px;
}

/* footer */
/* .footer_custom { */
/* background-image: url('./images/saturn.svg'); */
/* background: transparent; */
/* background-color: rgb(243 244 248); */

/* } */












/* carausal : */
.carousel-item {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(37, 50, 200, 0.7), rgba(229, 49, 104, 0.7));
    /* Define your gradient colors here */
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    color: white;
    animation: fadeInUp 2.5s ease;
    /* Apply animation */
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        /* Start with opacity 0 (hidden) */
        transform: translateY(50px);
        /* Move 20px down */
    }

    100% {
        opacity: 1;
        /* End with opacity 1 (fully visible) */
        transform: translateY(0);
        /* Return to the original position */
    }
}


.btn_carusal {
    font-size: 25px;
    background-color: #FFBB02;
    transform: scale(1);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.btn_carusal:hover {
    color: white !important;
    background: linear-gradient(90deg, #e73167, #2432c9) !important;
    transform: scale(1.1);
}

.btn_divContent {
    /* background-color: #FFBB02; */
    transform: scale(1);
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.btn_divContent:hover {
    color: white !important;
    background: linear-gradient(90deg, #e73167, #2432c9) !important;
    transform: scale(1.1);
}


.color_linear_gradient {
    background-image: linear-gradient(90deg, #e73167, #2432c9);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


.footer_custom {
    background-color: rgb(243, 244, 248);
    /* Set the background images and positions */
    /* background-image: url('./images/saturn.svg'), url('./images/saturn-svgrepo-com.svg'), url('./images/saturn.svg'); */
    /* background-position: top left, center center, bottom right; */
    /* You can adjust the positions as needed */
    /* background-repeat: no-repeat, no-repeat, no-repeat; */
    /* Make sure each image is not repeated */
    /* background-size: auto; */

    /* position: absolute; */

}

.bg_svg {
    /* background-image: url('./images/saturn.svg'); */
    /* background-position: top left; */
    /* background-repeat: no-repeat; */
    /* background-size: auto; */
    height: 50px !important;
    width: 10px;


}

.custom_text_color {
    color: #68778c;
    font-size: 20px;
    font-weight: 700;
}

.card_header {
    border: none;
}

.color_violate {
    color: #9202B7;
    font-weight: 800;
    font-size: 35px;
    line-height: 1.2em;
}

.color_heading_footer {
    color: #9202B7 !important;
}

.a_hover:hover {
    color: #EE3163;
}

.footer_firstDiv_text {
    font-size: 30px;
    color: aliceblue;
    /* letter-spacing: 3px; */
    font-weight: 900;
}

.mail_input {
    font-size: 15px;
    font-weight: 800;
    border: none;
}

.mail_btn {
    border: white;
}



.footer_custom {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: -95px;
    z-index: -1;
    /* Arrange child divs vertically */
}

.footer_first_div {
    background: linear-gradient(90deg, #e73167, #2432c9);
    border-radius: 15px !important;
    color: white;
    padding: 20px;
    z-index: 1;
}




.carousel_container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: -35px;
    /* z-index: -1; */

}

/* .nav_container {
    z-index: 1;
} */

nav {
    border-radius: 10px;
}




.scroll-to-top {
    display: flex;
    position: fixed;
    bottom: 50px;
    right: 50px;
    color: white;
    background: linear-gradient(90deg, #e73167, #2432c9);
    /* border: rgb(82, 76, 76) 3px solid; */
    border-radius: 50%;
    cursor: pointer;
}

.scroll_icon {
    font-size: 30px !important;
    padding: 15px;
    text-align: center;
}


/* section 10 */
.package-card {
    position: relative;
    text-align: center;
    margin: 20px;
    overflow: hidden;
    transition: transform 0.3s;
    border: none;
}

.package-img {
    width: 100%;
    height: 400px !important;
    margin: 0 auto 20px;
    display: block;
}

.package-title {
    font-size: 18px;
    font-weight: bold;
}

.package-description {
    position: absolute;
    bottom: -60%;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, #e73167, #2432c9);
    color: #fdfdfd;
    padding: 10px;
    transition: bottom 0.3s ease-in-out;
}

.package-card:hover {
    transform: scale(1.05);
}

.package-card:hover .package-description {
    bottom: 0;
}







/* MEDIA QUERY */

@media only screen and (max-width:320px) {

    /* 1st Section - carausal */
    .carousel_image {
        height: 350px;
    }

    .carousel_p {
        font-size: 10px;
    }

    .carousel_text {
        font-size: 25px;
        letter-spacing: 1px;
    }

    .btn_carusal {
        font-size: 13px;
        /* letter-spacing: 1px; */
    }

    /* 2nd Section  */
    .div_card_icon {
        font-size: 40px;
        padding: 15px 5px;
    }

    .div_card_heading2 {
        font-weight: 800;
        font-size: 25px;
    }

    .div_card_text {
        font-size: 17px;
        /* letter-spacing: 1px; */
        font-weight: 300;
    }

    .card_div {
        /* margin-top: 5px; */
        padding: 10px 35px;
        text-align: center;

    }

    /* 4th Section - carausal */
    .text_counter {
        font-size: 15px !important;
    }

    /* 6th section */
    .text_6th {
        font-size: 17px !important;
    }

    /* 10th section */

    .package-description {
        bottom: -53%;
    }

    .card-text {
        font-size: 10px;
    }

    /* footer */
    .footer_custom {
        text-align: center;
    }
}

@media only screen and (min-width:321px) and (max-width:426px) {

    /* 1st Section - carausal */
    .carousel_image {
        height: 380px;
    }

    .carousel_p {
        font-size: 13px;
    }

    .carousel_text {
        font-size: 33px;
        letter-spacing: 1px;
    }

    .btn_carusal {
        font-size: 15px;
        letter-spacing: 1px;
    }

    /* 2nd Section  */
    .div_card_icon {
        font-size: 40px;
        padding: 15px 5px;
    }

    .div_card_heading2 {
        font-weight: 800;
        font-size: 10px;
    }

    .div_card_text {
        font-size: 17px;
        /* letter-spacing: 1px; */
        font-weight: 300;
    }

    .card_div {
        /* margin-top: 5px; */
        padding: 10px 35px;
        text-align: center;

    }

    /* 4th Section - carausal */
    .text_counter {
        font-size: 17px !important;
    }

    /* 6th section */
    .text_6th {
        font-size: 20px !important;
    }

    /* 10th section */

    .package-description {
        bottom: -53%;
    }

    .card-text {
        font-size: 10px;
    }
}

@media only screen and (min-width:426px) and (max-width:769px) {

    /* 1st Section - carausal */
    .carousel_image {
        height: 450px;
    }

    .carousel_p {
        font-size: 15px;
    }

    .carousel_text {
        font-size: 45px;
        letter-spacing: 1px;
    }

    .btn_carusal {
        font-size: 18px;
        letter-spacing: 1px;
    }

    /* 2nd Section  */
    .div_card_icon {
        font-size: 32px;
        padding-top: 8px;
    }

    .div_card_heading2 {
        font-weight: 800;
        font-size: 20px;
    }

    .div_card_text {
        font-size: 13px;
        /* letter-spacing: 1px; */
        font-weight: 300;
    }

    /* 4th Section - carausal */
    .text_counter {
        font-size: 25px !important;
    }

    /* 6th section */
    .text_6th {
        font-size: 20px !important;
    }

    /* 10th section */

    .package-description {
        bottom: -67%;
    }

    .card-text {
        font-size: 25px;
    }
}

@media only screen and (min-width:769px) and (max-width:1025px) {

    /* 1st Section - carausal */
    .carousel_image {
        height: 500px;
    }

    .carousel_p {
        font-size: 18px;
    }

    .carousel_text {
        font-size: 50px;
        letter-spacing: 2px;
    }

    .btn_carusal {
        font-size: 20px;
        letter-spacing: 1px;
    }

    /* 2nd Section  */
    .div_card_icon {
        font-size: 40px;
        padding-top: 5px;
    }

    .div_card_heading2 {
        font-weight: 800;
        font-size: 25px;
    }

    .div_card_text {
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: 500;
    }

    /* 4th Section - carausal */
    .text_counter {
        font-size: 25px !important;
    }

    /* 6th section */
    .text_6th {
        font-size: 15px !important;
    }


    /* 10th section */

    .package-description {
        bottom: -54%;
    }

    .card-text {
        font-size: 10px;
    }

}

@media only screen and (min-width:1026px) and (max-widht:1440px) {

    /* 1st Section - carausal */
    .carousel_image {
        height: 700px;
    }

    .carousel_p {
        font-size: 20px;
        letter-spacing: 5px;
    }

    .carousel_text {
        font-size: 70px;
        letter-spacing: 1px;
    }

    .btn_carusal {
        font-size: 30px;
        letter-spacing: 1px;
    }

    /* 2nd Section  */
    .div_card_icon {
        font-size: 60px;
        padding-top: 5px;
    }

    .div_card_heading2 {
        font-weight: 900;
    }

    .div_card_text {
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: 500;
    }

    /* 3rd Section - */
    /* .h2_divContent {
        font-size: 40px;
    }

    .p_divContent {
        font-size: 20px;
    }

    .img_divContent {
        height: 700px;
    }

    .btn_divContent {
        font-size: 25px;
    } */


    /* 6th section */


}

@media only screen and (min-width:1441px) {
    .text_6th {
        font-size: 25px !important;
    }


}